<div  class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold">{{information.title}}</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">{{information.content}}</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" routerLink="">VKİ Hesapla</button>
      <button type="button" class="btn btn-outline-success btn-lg px-4">Daha Fazla Bilgi</button>
    </div>
  </div>
  <div class="overflow-hidden">
    <div class="container px-5">
      <img id="img-home" class="img-fluid img-thumbnail" src="{{information.url}}">
    </div>
  </div>
</div>
